<div class="container">
  <app-to-do-navbar></app-to-do-navbar>
  <div class="type">
    <P id="typo">DREAMS DON'T WORK OUT UNLESS YOU DO IT.</P>
    <p id="typo1">WHAT'S STOPPING YOU?</p>
    <P id="typo2">JUST DO IT!</P>
    <button mat-raised-button="primary" (click)="navigate()">
      Get started
    </button>

    <p id="first">STOP PROCASTINATION | BE PROACTIVE | MAKE PLANS</p>
    <p id="second">SET GOALS | CHALLENGE YOURSELF | TAKE ACTIONS</p>
    <p id="third">WORK HARD | BE PROACTIVE | MAKE PLANS</p>
  </div>
</div>
